@use '../../styles/colors.scss';
@import '../../styles/breakpoints.scss';

.project-item {
  .preview-img-wrapper {
    height: 250px;
    position: relative;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .project-content-wrapper {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-height: 220px;
    justify-content: space-between;

    footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        text-decoration: none;
        font-family: inherit;

        svg {
          width: 25px;
          height: 25px;

          path {
            fill: colors.$black;
          }
        }
      }

      .action {
        button {
          color: colors.$black;
          padding: 12px;
          font-size: 1rem;
          font-weight: 600;

          &::before {
            background-color: colors.$black;
          }

          &:hover {
            color: colors.$white;

            svg {
              path {
                fill: colors.$white;
              }
            }

            &::before {
              color: colors.$white;
            }
          }
        }
      }
    }
  }
}
