@use '../../styles/colors.scss';
@import '../../styles/breakpoints.scss';

.error-layout-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: colors.$gray;
}
