@use '../../styles/colors.scss';
@import '../../styles/breakpoints.scss';

.navbar {
  border-bottom: 1px solid colors.$black;

  h2 {
    margin-bottom: 1rem;
    text-align: center;
  }
}

.sub-navbar {
  margin-bottom: 35px;
  margin-top: 14px;
  display: flex;
  gap: 16px;
  list-style-type: none;

  @include sm {
    flex-direction: column;
  }

  li {
    position: relative;
  }

  .action {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    font-family: inherit;
    color: colors.$black;

    &::after {
      position: absolute;
      left: 0;
      right: 0;
      background: colors.$black;
      height: 1px;
      bottom: -25%;
    }

    &:hover {
      &::after {
        content: '';
      }
    }

    @include md {
      gap: 8px;
    }

  }

  svg {
    path {
      fill: colors.$black;
    }
  }
}

.tooltip-content {
  font-family: inherit;
  line-height: 1.5;
  text-align: left;
}
